= form_for @order, html: { class: 'form-horizontal' } do |f|
  .row-fluid
    .span4
      = f.label :start
      = f.text_field :start, class: 'span3'
      = f.label :end
      = f.text_field :end, class: 'span3'
      = f.label :notes
      = f.text_field :notes, class: 'span3'
      = f.label :city
      = f.text_field :city, class: 'span3'
      .actions
        = f.submit 'Save', class: 'btn btn-primary'
    .span8
      .field
        = f.label :area
        #map,.field_editor
        = f.hidden_field :area

