.row-fluid
  .span3
    #orders-panel.well
      .btn-group#group-by.pull-right
        %a.btn.btn-small.dropdown-toggle{:data => {:toggle => 'dropdown'}, :href => '#' }
          Group by
          %span.caret
        %ul.dropdown-menu
          %li
            %a#ungroup{:href => '#'} None
          %li
            %a#group-by-city{:href => '#'} City
      %h3 My Orders
      #orders-list-container
        Loading...
      = link_to 'New Order', new_order_path, :class => 'btn btn-primary'

  .span9
    .map-container
      #map

