// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #cce6f3
$light_blue: lighten($blue, 10%)

#map
  height: 300px


//ul#orders
  //list-style-type: none
  //padding: 0
  //margin: 0
  //li
    //padding: 4px
    //border: 1px solid $blue
    //margin-bottom: 2px

    //&:hover
      //background-color: $light_blue


      //&:hover
        //background-color: transparent

ul.orders, ul.groups
  li
    padding: 5px
    margin: 0

    a.toggle-visibility
      width: 16px
      height: 16px
      display: block
      float: right

    .order-city
      color: $disabled
      font-style: italic

    &:hover
      background-color: $highlight

ul.groups ul.orders
  display: none
