@import "icons/*.png"
@include all-icons-sprites

.actions
  padding-top: 10px

.icon.small
  width: 16px
  height: 16px

.fullscreen
  position: fixed !important
  width: 100% !important
  height: 100% !important
  top: 0 !important
  left: 0 !important

body
  padding-top: 50px
//body
  //background-color: #cce6f3
  //color: #333
  //font-family: verdana, arial, helvetica, sans-serif
  //font-size: 13px
  //line-height: 18px

//$blueprint_grid_columns: 12
//$blueprint_grid_width: 60px
//$blueprint_grid_margin: 18px

#header
  ////+column(24)
  background-image: url(banner.png)
  height: 102px
  margin-bottom: 5px

#orders-panel
  padding-bottom: 10px

//#footer
  ////+column(24)
  //padding: 5px

//h1
  //color: #6c981a

//p, ol, ul, td
  //font-family: verdana, arial, helvetica, sans-serif
  //font-size: 13px
  //line-height: 18px

//pre
  //background-color: #eee
  //padding: 10px
  //font-size: 11px

//a
  //color: #000
  //&:visited
    //color: #666
  //&:hover
    //color: #fff
    //background-color: #000

//div
  //&.field, &.actions
    //margin-bottom: 10px

//#notice
  //color: green

//.field_with_errors
  //padding: 2px
  //background-color: red
  //display: table

//#error_explanation
  //width: 450px
  //border: 2px solid red
  //padding: 7px
  //padding-bottom: 0
  //margin-bottom: 20px
  //background-color: #f0f0f0
  //h2
    //text-align: left
    //font-weight: bold
    //padding: 5px 5px 5px 15px
    //font-size: 12px
    //margin: -7px
    //margin-bottom: 0px
    //background-color: #c00
    //color: #fff
  //ul li
    //font-size: 12px
    //list-style: square

//.field
  //width: 100%
  //overflow: auto

  //label
    //width: 19%
    //float: left
    //text-align: right
    //font-weight: bold
    //padding-right: 1%
    //line-height: 26px
    
  //input, .field_editor
    //display: block
    //float: left

//table
  //border-top: 7px solid #9BAFF1
  //border-bottom: 7px solid #9BAFF1
  //border-collapse: collapse

  //th, td
    //background-color: #E8EDFF
    //border-right: 1px solid #9BAFF1
    //border-left: 1px solid #9BAFF1
    //padding: 8px

  //th
    //color: #039

  //td
    //color: #669

  //tr:hover td
    //background-color: #d0dafd
    //color: #339

////.sidebar
  ////+column(8)
  ////+box-sizing(border-box)
  ////padding: 10px

////.map-container
  ////+column(16, true)
  ////+box-sizing(border-box)
  ////padding: 10px

////a.button, input.button
  ////color: white
  ////text-decoration: none
  ////@include fancy-button(blue)

////a.back-button
  ////color: white
  ////text-decoration: none
  ////@include fancy-button(#ccc)
  //

#map
  .icon
    margin-top: 6px


