!!! 5
%html
  %head
    %title Superduster
    %script{:type => "text/javascript",
      :src => "http://maps.googleapis.com/maps/api/js?key=#{ ENV['GOOGLE_API_KEY'] }&sensor=false&libraries=drawing"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.brand{:href => '#'} Superduster
          %ul.nav
            %li
              = link_to 'Home', '/'
            %li.active
              = link_to 'Orders', 'Orders'

    #container.container-fluid
      = yield
      #footer
